@import "./base.css";

.custom-formkit__label {
  font-size: calc(var(--text-m) - 1.6px);
  font-family: Rubik, sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.3px;
}
.custom__tab-span {
  font-size: calc(var(--text-m) - 0.8px) !important;
  opacity: 0.8;
}
.custom-formkit__decorator-icon {
  color: var(--action) !important;
}
.custom-formkit__decorator {
  width: 100%;
}
.custom-formkit__selected-icon {
  color: var(--action) !important;
  background-color: var(--action) !important;
}
.custom-formkit__selected-icon:hover {
  color: var(--action) !important;
  background-color: var(--action) !important;
}
.form-label{
  background: white;
  padding: var(--space-xl) var(--space-l) var(--space-xs) var(--space-l);
}
.vue-form {
  padding: var(--space-s) var(--space-l);

  background-color: #fff;
}
.custom__placeholder::-webkit-input-placeholder {
  font-size: var(--text-m);
}
.custom__placeholder::-moz-placeholder {
  font-size: var(--text-m);
}
.custom__placeholder:-ms-input-placeholder {
  font-size: var(--text-m);
}
.custom__placeholder:-moz-placeholder {
  font-size: var(--text-m);
}
/* Uppercase the input */
.custom__input--uppercase{
  text-transform: uppercase;
}
.custom__input--uppercase::-webkit-input-placeholder {
  font-size: var(--text-m);
  text-transform: uppercase;
}
.custom__input--uppercase::-moz-placeholder {
  font-size: var(--text-m);
  text-transform: uppercase;
}
.custom__input--uppercase:-ms-input-placeholder {
  font-size: var(--text-m);
  text-transform: uppercase;
}
.custom__input--uppercase:-moz-placeholder {
  font-size: var(--text-m);
  text-transform: uppercase;
}